# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Keystore credentials (contains sensitive passwords)
gradle.properties

# Bundle artifacts
*.jsbundle
